.container {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  width: 90%;
  margin-left: 5%;
}

#tweet-text {
  border: none;
  border-bottom: 5px solid #5e6572;
  background-color: transparent;  

}
textarea:focus::placeholder {
  color: transparent;
}

.bottom {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  font-family: 'Bungee', sans-serif;
}

button{  
  background-color: #4056A1;
  color: #FFFFFF;
  font-family: 'Bungee', sans-serif;
  font-size: 0.8em;
  border:none;
}

button:hover {
  color: rgb(209, 156, 206);
}

.error {
	border: 2px solid;
  border-radius: 5px;
	margin: 10px auto;
	padding: 15px 10px 15px 50px;
	background-repeat: no-repeat;
	background-position: 10px center;
	width: 80%;
  color: salmon;
	background-color: #f4f1ec;
	background-image: url('https://i.imgur.com/GnyDvKN.png');
  display: none;

}






